<div class="content">
  <div id="menu" class="menu">
    <div class="principal__menu">
      <div class="logotipo__menu">
        <a>
          <img src="../assets/icon.png" alt="ibercaja" class="imgIcon" />
        </a>
      </div>
      <ul class="list__menu">
        <li>
          <a href="#"><p>PRODUCTOS</p></a>
        </li>
        <li>
          <a href="#"><p>OPERATIVAS</p></a>
        </li>
      </ul>

      <div class="search__menu">
        <!-- <img alt="search" src="../assets/img/lupa.png"> -->
        <input type="text" placeholder="Busca en Ibercaja....." />

        <div class="count"></div>
      </div>
    </div>

    <aside id="menuLateral">
      <div class="menuLateral__user">
        <img
          class="menuLateral__avatar"
          alt="avatar"
          src="../assets/img/avatar.png"
        />
        <p class="menuLateral__nameUser">Carmen Rendón</p>
      </div>
      <div class="menuLateral__boxLogo">Logo</div>
    </aside>
  </div>

  <!-- -------------------END MENU------------------------ -->


  <!-- OPCIONES LATERALESss -->
<!-- <div id="optionsLateral">
  
</div> -->


  <!-- -----------------SECTION USUARIO----------------- -->
  <div id="SectionUsuario">
    <div id="contetSectionUser">
      <div class="SectionUsuario__InfoGeneral">
        <h2 class="SectionUsuario__nameUsuario">Buenas Tardes, Carmen</h2>

        <ul class="SectionUsuario_menu">
          <li><a href="#">Transferencias</a></li>
          <li><a href="#">Traspasos</a></li>
          <li><a href="#">Ficheros</a></li>
        </ul>
      </div>
      <div class="date">Viernes 25 mayo</div>
      <div id="SectionUsuario__counts">
        <article class="saldo_counts">
          <h3>SALDO CUENTAS</h3>
          <p class="amount">153.000€</p>
        </article>
        <article class="saldo_counts">
          <h3>AHORRO-INVERSIÓN</h3>
          <p class="amount">153.000€</p>
        </article>
        <article class="saldo_counts">
          <h3>FINANCIACIÓN</h3>
          <p class="amount">153.000€</p>
        </article>
      </div>
    </div>

    <div id="SectionUsuario__tab">
      <ul class="SectionUsuario__tabType">
        <li><a href="#">CUENTAS TARJETAS Y TPVS</a></li>
        <li><a href="#">FINANCIACIÓN</a></li>
        <li><a href="#">COMERCIO EXTERIOR</a></li>
        <li><a href="#">COBROS Y PAGOS</a></li>
      </ul>
    </div>
  </div>

  <!-- ----------------END USUARIO-------------------- -->

  <div id="content_Counts">
    <div id="content_Counts__container">
      <h2>Cuentas</h2>

      <ul>
        <li><a href="#">Mostrar ocultas</a></li>
        <li><a href="#">Filtra resultados</a></li>
      </ul>
    </div>
 
    <div class="content_Counts__cards">
      <div class="card">
        <div class="card__header">
          <h5>Pago nóminas</h5>
          <p class="card__subheader">*5467</p>
        </div>

        <div class="card__amount">
          <h2>1.234.564,04€</h2>
          <p class="card_disponible">
            Disponible: <span class="card_amountDisponible">48793€</span>
          </p>
        </div>

        <div class="card__footer">
          <div class="card__iconCard"></div>
          <p>2 Movimientos nuevos</p>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <h5>Pago nóminas</h5>
          <p class="card__subheader">*5467</p>
        </div>

        <div class="card__amount">
          <h2>1.234.564,04€</h2>
          <p class="card_disponible">
            Disponible: <span class="card_amountDisponible">48793€</span>
          </p>
        </div>

        <div class="card__footer">
          <div class="card__iconCard"></div>
          <p>2 Movimientos nuevos</p>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <h5>Pago nóminas</h5>
          <p class="card__subheader">*5467</p>
        </div>

        <div class="card__amount">
          <h2>1.234.564,04€</h2>
          <p class="card_disponible">
            Disponible: <span class="card_amountDisponible">48793€</span>
          </p>
        </div>

        <div class="card__footer">
          <div class="card__iconCard"></div>
          <p>2 Movimientos nuevos</p>
        </div>
      </div>

      
    </div> 

  
 <div id="sectionTarjetas">
         <div id="sectionTarjetas__content">
        <h2 class="">Tarjetas</h2>
         
       
     <ul class="sectionTarjetas__row">
           <li class="sectionTarjetas__user">
              <figure class="imgTarjet">
                <img src="../assets/img/tarjeta.png" alt="tarjeta" />
              </figure>
              <p>Carmen Rendon Carrabeo</p>

              <p class="sectionTarjetas__amount">....3244</p>
              <p class="sectionTarjetas__progress">
                75000€ / 100.000€
                <progress id="file" max="100" value="70">70%</progress>
            </li>
            
            <li class="sectionTarjetas__user">
              <figure class="imgTarjet">
                <img src="../assets/img/tarjeta.png" alt="tarjeta" />
              </figure>
              <p>Carmen Rendon Carrabeo</p>

              <p class="sectionTarjetas__amount">....3244</p>
              <p class="sectionTarjetas__progress">
                75000€ / 100.000€
                <progress id="file" max="100" value="70">70%</progress>
            </li>
            <li class="sectionTarjetas__user">
              <figure class="imgTarjet">
                <img src="../assets/img/tarjeta.png" alt="tarjeta" />
              </figure>
              <p>Carmen Rendon Carrabeo</p>

              <p class="sectionTarjetas__amount">....3244</p>
              <p class="sectionTarjetas__progress">
                75000€ / 100.000€
                <progress id="file" max="100" value="70">70%</progress>
            </li>
            <li class="sectionTarjetas__user">
              <figure class="imgTarjet">
                <img src="../assets/img/tarjeta.png" alt="tarjeta" />
              </figure>
              <p>Carmen Rendon Carrabeo</p>

              <p class="sectionTarjetas__amount">....3244</p>
              <p class="sectionTarjetas__progress">
                75000€ / 100.000€
                <progress id="file" max="100" value="70">70%</progress>
            </li>
           <li class="sectionTarjetas__user">
              <figure class="imgTarjet">
                <img src="../assets/img/tarjeta.png" alt="tarjeta" />
              </figure>
              <p>Carmen Rendon Carrabeo</p>

              <p class="sectionTarjetas__amount">....3244</p>
              <p class="sectionTarjetas__progress">
                75000€ / 100.000€
                <progress id="file" max="100" value="70">70%</progress>
            </li>
            
      
            <div class="sectionTarjetas_showmore">
              <p>VER MÁS</p>
            </div>
          </ul>
          
     
   
    </div>

  </div>  
  <div id="chat">
    <img src="../assets/img/chat.png">
  </div>


</div>
<footer id="footer">
  <div class="footer__content">
    <figure>
      <img src="../assets/icon.png" alt="iconIbercaja">
    </figure>
      <ul >
        <li>CONTRATOS TIPO</li>
        <li>C.G.C. PROTOCOLIZADAS</li>
        <li>AVISO LEGAL</li>
        <li>EJECICIO DE DERECHOS</li>
        <li>RENOVACIÓN</li>
        <li>TARIFAS Y COTIZACIONES</li>
        <li>TABLÓN DE ANUNCIOS</li>
        <li>EJERCICIO DE DERECHOS</li>
      </ul>
  </div>


</footer>

</div>